html {
  height: 100%;
 
}

body {
  text-align: center;
  user-select: none;

}

.pressed {
  box-shadow: 0 0 10px #DBEDF3, 0 0 27px #DBEDF3;
  opacity: 0.9;
}

.color {
  color: rgb(255, 255, 255);
}

.drum {
  outline: none;
  border-image-slice: 1;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  text-shadow: 3px 0 #102e35;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(174, 174, 174);
}

p {
  padding-top: 10px;
}


